@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: lightblue;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin-bottom: 15px;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    display: flex;
    text-align: center;
    background-color: #0151cc;
    color: #fff;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.subjects {
    flex:1;
    justify-content: space-between;
}

.habit {
    flex:1;
    background: #0151cc;
    color:#fff;
    border-radius: 10px;
    margin: 20px 10px;
}
